<h1>All sessions at LinguaZone Academy</h1>

<table>
	<tr>
		<th>Session name</th>
		<th>Description</th>
		<th>Dates</th>
		<th></th>
	</tr>
	<% @sessions.each do |s| %>
		<tr>
			<td><%= link_to s.name, session_path(s) %></td>
			<td><%= s.description %></td>
			<td><%= format_short_date(s.start_date)+" - "+format_short_date(s.end_date) %></td>
			<td><%= link_to "Edit", edit_session_path(s) %></td>
		</tr>
	<% end %>
</table>

<p><%= link_to "Add a new session", new_session_path %></p>