<%= f.inputs do %>
	<%= f.input :body, :label => "Your comment" %>
	<%= f.input :registration_id, :as => :hidden, :value => reg.id %>
	<%= f.input :published, :as => :hidden, :value => 0 %>
<% end %>

<% if admin %>
	<h2>Admin options</h2>
	<%= f.inputs do %>
		<% if @comment.published_at.nil? %>
			<%= f.input :published, :label => "Publish this comment" %>
		<% else %>
			<%= f.input :published, :label => "This comment has already been published", :input_html => {:disabled => true} %>
			<%= "Published on #{format_date_time(@comment.published_at)}" %>
		<% end %>
		<%= f.input :admin_feedback %>
	<% end %>
<% end %>

<%= f.buttons %> or <%= link_to "cancel", :back %>