<% stylesheet 'comments' %>

<% content_for :page_script do %>
$(function() {
	$("a.write_new_link").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	});
})
<% end %>

<h1>Notes from the teacher</h1>
<% if can?(:create, Comment) %>
	<%= link_to "Write a new comment", new_registration_comment_path(@registration), :class => "write_new_link float_right" %>
<% end %>
<p>for <%= @registration.student.display_name %> in <%= @registration.course.program.name %></p>

<% if can?(:create, Comment) && !@pending_comments.empty? %>
	<div id="pending_comments" class="ui-corner-all">
		<h2>Currently pending</h2>
		<%= render :partial => "info", :collection => @pending_comments, :as => :comment, :locals => { :pending => true } %>
	</div>
<% end %>


<% if @published_comments.empty? %>
	<p><%= @registration.student.display_name %> does not have any comments for this class yet.</p>
<% else %>
	<div id="published_comments" class="ui-corner-all">
		<h2>Comments</h2>
		<%= render :partial => "info", :collection => @published_comments, :as => :comment, :locals => { :pending => false } %>
	</div>
<% end %>