<h1>Programs: <%= @program.name %></h1>
<p>
	<%= @program.name %>
	<br /><%= @program.language %>
	<br /><%= @program.level %>
</p>
<p><%= @program.description %></p>

<p><%= link_to "View all programs", programs_path %> | <%= link_to "Edit this program", edit_program_path(@program) %></p>
