<div class="registration_details">
	<div class="registration_title">
		<h3><%= reg.course.program.name %> at <%= reg.course.location.name %></h3>
		<span class="schedule"><%= reg.course.session_term.date_range %> from <%= "#{reg.course.start_time} to #{reg.course.end_time}" %></span>
	</div>
	
	<table>
		<tr>
			<td>Remaining balance</td>
			<td><%= reg.remaining_balance %></td>
		</tr>
		<tr>
			<td>Teacher comments...</td>
			<td>
				<%= link_to pluralize(reg.comments.length, "comment"), registration_comments_path(reg) %>
				<span class="detail"><%= "(last on #{format_short_date(reg.last_comment_date)})" unless reg.comments.empty? %></span>
			</td>
		</tr>
		<tr>
			<td>Cancel</td>
			<td><%= link_to "Cancel registration", reg, :class => "warning",
						:confirm => "Are you sure you want to cancel your registration in this class?", 			
						:method => :delete %>
			</td>
		</tr>
	</table>
</div>