<% stylesheet 'registrations' %>
<% content_for :head do %>
<%= formtastic_stylesheet_link_tag %>
<% end %>

<h1>Register to join a new class with LinguaZone</h1>

<%= semantic_form_for @registration do |f| %>
	<%= f.semantic_errors %>
	<h2>Camps for 4 - 10 year-olds</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Camps for 4 &mdash; 10 year-olds", @young_camp_courses, true, false) %>
	</table>

	<h2>Camps for 11 - 17 year-olds</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Camps for 11 &mdash; 17 year-olds", @old_camp_courses, true, false) %>
	</table>
	
	<h2>Before- and after-school at New Eagle</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("New Eagle Elementary", @new_eagle_courses, true, true) %>
	</table>
	
	<%= f.hidden_field :student_id %>
	<%= f.commit_button "Save and continue" %>
<% end %>