<% stylesheet 'teachers' %>
<% stylesheet 'comments' %>

<% content_for :page_script do %>
$(function() {
	$("a.write_new_link").button({
		icons: {
			primary: "ui-icon-pencil"
		}
	})
})
<% end %>

<h1>Teacher: <%= @teacher.display_name %></h1>
<p>
	<%= @teacher.display_name %> 
	<%= "("+@teacher.nickname+")" unless @teacher.nickname.nil? %>
	<br /><%= @teacher.email %>
	<br /><%= @teacher.cell_phone %>
	<br /><%= @teacher.shirt_size %>
</p>

<% unless @teacher.courses.empty? %>
	<% @teacher.courses.each do |c| %>
		<table class="course_listing">
			<tr>
				<th colspan="3">
					<%= link_to c.program.name, program_path(c.program), :class => "subtle" %>
					at <%= link_to c.location.name, location_path(c.location), :class => "subtle" %>
					<span class="schedule"><%= c.session_term.date_range %></span>
				</th>
			</tr>
			<% unless c.registrations.empty? %>
				<% c.registrations.each do |r| %>
					<tr>
						<td>
							<% if r.student.emergency_form.nil? %>
								<%= r.student.display_name %>
							<% else %>
								<%= link_to r.student.display_name, student_emergency_form_path(r.student) %>
							<% end %>
							<span class="detail">(<%= r.student.age %> years old)</span>
						</td>
						<td>
							(0 comments)
							<%# link_to pluralize(r.comments.length, "comment"), registration_comments_path(r) %>
							<span class="detail"><%= "(last on #{format_short_date(r.last_comment_date)})" unless r.comments.empty? %></span>
						</td>
						<td align="right">(Write a new comment)<%# link_to "Write a new comment", new_registration_comment_path(r), :class => "write_new_link" %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>
<% end %>

<p><%= link_to "View all teachers", teachers_path %> | <%= link_to "Edit this teacher", edit_teacher_path(@teacher) %></p>
