<h1>All programs run by LinguaZone Academy</h1>

<table>
	<tr>
		<th>Program name</th>
		<th>Language</th>
		<th>Level</th>
		<th>Description</th>
		<th></th>
	</tr>
	<% @programs.each do |p| %>
		<tr>
			<td><%= link_to p.name, program_path(p) %></td>
			<td><%= p.language %></td>
			<td><%= p.level %></td>
			<td><%= (p.description.length < 150) ? "N" : "" %></td>
			<td><%= link_to "Edit", edit_program_path(p) %></td>
		</tr>
	<% end %>
</table>

<p><%= link_to "Add a new program", new_program_path %></p>