<li class="detail_list_<%= course_enrollment_status(course) %> ui-corner-all">
	<%= link_to course.program.name, course_path(course) %> (<%= course.registrations.length %>)<br />
	<ul>
		<% course.registrations.each do |r| %>
			<li>
				<%= "#{r.student.display_name}" %>
				<span class="student_age"><%= "(#{r.student.age}, #{r.student.shirt_size})" %></span>
				<br />
				<span class="parent_name"><%= "#{r.student.parent.display_name}"%></span>
				<span class="parent_email"><%= "#{r.student.parent.email}" %></span>
			</li>
		<% end %>
	</ul>
</li>