<% stylesheet "courses" %>

<h1>All courses offered at LinguaZone Academy</h1>
<p>View <%= link_to "the detail listing", overview_courses_path %> of all courses</p>

<h2>Ages 5 - 10</h2>
<ul class="course_listing session_1">
	<%= render :partial => "summary", :collection => @summer_fcs_young_1, :as => :course %>
</ul>
<ul class="course_listing session_2">
	<%= render :partial => "summary", :collection => @summer_fcs_young_2, :as => :course %>
</ul>
<br class="clearFloat" />

<h2>Ages 11 - 17</h2>
<ul class="course_listing session_1">
	<%= render :partial => "summary", :collection => @summer_fcs_old_1, :as => :course %>
</ul>
<ul class="course_listing session_2">
	<%= render :partial => "summary", :collection => @summer_fcs_old_2, :as => :course %>
</ul>
<br class="clearFloat" />

<p><%= link_to "Add a new course", new_course_path %></p>