<h1>All courses offered at LinguaZone Academy</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Dates</th>
		<th>Program</th>
		<th>Location</th>
		<th>Teacher</th>
		<th></th>
	</tr>
	<% @courses.each do |c| %>
		<tr>
			<td><%= link_to c.id, course_path(c) %></td>
			<td><%= c.term.date_range %></td>
			<td><%= link_to c.program.name, program_path(c.program) %></td>
			<td><%= link_to c.location.name, location_path(c.location) %></td>
			<td><%= link_to c.teacher.display_name, teacher_path(c.teacher) %></td>
			<td><%= link_to "Edit", edit_course_path(c) %></td>
		</tr>
	<% end %>
</table>

<p><%= link_to "Add a new course", new_course_path %></p>