<h1>Course details</h1>

<p>
	<%= @course.program.name %>, taught by <%= @course.teacher.display_name %> at <%= @course.location.name %>.<br />
	<%= @course.days_of_week %> from <%= @course.start_time %> to <%= @course.end_time %>, <%= @course.session_term.date_range %>.
</p>

<h2>Registrations</h2>
<table>
	<tr>
		<th>Student</th>
		<th>Age</th>
		<th>Emergency form</th>
		<td>Recommendation</th>
	</tr>
	<% if @course.registrations.empty? %>
	<tr>
		<td colspan="3">No students have registered for this course yet.</td>
	</tr>
	<% else %>
		<% @course.registrations.each do |r| %>
		<tr>
			<td><%= link_to r.student.display_name, parent_path(r.student.parent) %></td>
			<td><%= "#{r.student.age} years old" %></td>
			<td><%= if r.student.emergency_form.nil? then "No emergency form on file" else link_to "View emergency form", student_emergency_form_path(r.student) end %></td>
			<td><%= if r.student.recommendation.nil? then "No recommendation on file" else link_to "View recommendation", student_recommendation_path(r.student) end %></td>
		</tr>
		<% end %>
	<% end %>
</table>

<p><%= link_to "View all courses", courses_path %> | <%= link_to "Edit this course", edit_course_path(@course) %></p>