<% stylesheet "/fancybox/jquery.fancybox-1.3.4.css" %>
<% stylesheet "about.css" %>

<%= content_for(:page_script) do %>
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/fancybox/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("a.galleryView").fancybox();
	
	$(".fancyYoutube").fancybox({
		'transitionIn' : 'elastic',
		'padding' : 0,
		'transitionOut' : 'fade',
		'width' : 680,
		'height' : 495,
		'type' : 'swf',
		'swf' : {
			'wmode' : 'transparent',
			'allowfullscreen' : 'true'
		}
	});
	
});
</script>
<% end %>



<%= render :partial => "layouts/about_nav" %>


<h1>Photo and Video Gallery</h1>

<p>Take a look at some memorable highlights from the past few years of LinguaZone Language Camp.</p>

<div id="gallery">
	<h2>Photos</h2>
	<p>What do we mean by engaging, activity-based learning? Take a look!</p>
	<% captions = ["", "test 1", "test 2", "test 3", "test 4"] %>
	<% for i in 1..48 do %>
		<% if i != 5 && i != 15 && i != 25 %>
			<a class="galleryView" rel="lzGallery" href="/images/about/gallery/fullsize/<%= i %>.jpg" title="<%= captions[i] %>">
				<img src="/images/about/gallery/thumbs/<%= i %>-thumb.jpg" alt=""/>
			</a>
		<% end %>
	<% end %>
	
	<h2>Videos</h2>
	<p>Check out videos made by the campers</p>
	<a class="fancyYoutube" href="http://www.youtube.com/v/BjytDUB-nZc" title="Cooking show with food!">
		<img src="/images/about/gallery/thumbs/vid-1-thumb.jpg" alt=""/>
	</a>
	<a class="fancyYoutube" href="http://www.youtube.com/v/-AZF3L4pExY" title="LinguaZone a nuit">
		<img src="/images/about/gallery/thumbs/vid-2-thumb.jpg" alt=""/>
	</a>
	<a class="fancyYoutube" href="http://www.youtube.com/v/m2duYe3Y0NQ" title="LinguaZone a nuit">
		<img src="/images/about/gallery/thumbs/vid-3-thumb.jpg" alt=""/>
	</a>
	<a class="fancyYoutube" href="http://www.youtube.com/v/l_q5tcL5p3c" title="LinguaZone a nuit">
		<img src="/images/about/gallery/thumbs/vid-4-thumb.jpg" alt=""/>
	</a>
</div>
<br class="clearFloat" />