<% stylesheet 'about' %>

<%= render :partial => "layouts/about_nav" %>

<h1>LinguaZone Language Academy</h1>

<p> offers programs for students, ages 4 - 17, opportunities to learn world languages year-round. Try something new, advance in your school studies, or just have fun learning how to speak more fluently.</p>

<div id="student_close_up">
	<%= image_tag "about/index/student_close_up.jpg" %>
</div>

<div id="language_list">
	<%= image_tag "about/index/language_list.jpg" %>
</div>

<h2>Individualized programs for every age and level</h2>
<p><%= image_tag "about/index/younger.jpg", :class => "floatRight" %> Our expert language teachers and a vibrant atmosphere make the experience of learning a language fun for everyone. We have programs for a wide range of ages and levels of language learners, and all LinguaZone classes run with 3 - 11 students per class to ensure individualized attention and the best learning environment possible for our students.</p>
<br class="clearFloat" />

<h2>Engaging, activity-based curricula</h2>
<p><%= image_tag "about/index/older.jpg", :class => "floatLeft" %> Fun and rewarding, helping students accomplish a lot in the best environment we can offer. Learn more about our philosophy.</p>
<br class="clearFloat">

<h2>A fantastic learning experience</h2>
<p>Something else about how awesome we are and how great camp is?</p>

<h2>Travel abroad opportunities</h2>
<p>We even offer opportunities to travel to a different country with your family and teacher at the end of camp to try out your new skills. Come join us at camp this summer!</p>