<% stylesheet 'about' %>
<% stylesheet 'camera' %>
<% content_for(:head) do %>
<%= javascript_include_tag "camera.min.js" %>
<script type="text/javascript">
$(function() {
	$("#intro_pics").camera({height: "600px", height: "430px", fx: "simpleFade", hover: false, thumbnails: true});
	$("#intro_pics").cameraPlay();
})
</script>
<% end %>

<%= render :partial => "layouts/about_nav" %>

<h1>LinguaZone Language Academy</h1>

<p>Programs for students, ages 5 - 17. Opportunities to learn world languages year-round. Try something new, advance in your school studies, or just have fun learning how to speak more fluently.</p>

<div style="width: 600px; margin: 0px; padding: 0px; float: right">
	<div class="camera_wrap" id="intro_pics">
		<div data-src="images/about/index/student_close_up.jpg"></div>
		<div data-src="images/about/index/outdoor_bench.jpg">
			<div class="camera_caption">Waiting for pick-up at the end of the day</div>
		</div>
		<div data-src="images/about/index/outdoor_soccer.jpg">
			<div class="camera_caption">Inter-lingual soccer game during World Cup Week</div>
		</div>
		<div data-src="images/about/index/goody_bag.jpg">
			<div class="camera_caption">Wrapping up the new creations of the day</div>
		</div>
		<div data-src="images/about/index/fashion_show.jpg">
			<div class="camera_caption">Celebrating after a multi-lingual fashion show</div>
		</div>
		<div data-src="images/about/index/bucket_helmet.jpg">
			<div class="camera_caption">The Latin students and Italian students compete for ancient and modern Rome</div>
		</div>
	</div>
</div>

<div id="language_list">
	<%= image_tag "about/index/language_list.jpg" %>
</div>

<h2>Individualized programs for every age and level</h2>
<div>
	<%= image_tag "about/index/younger.jpg", :class => "float_right example" %>
	<p> Our expert language teachers and a vibrant atmosphere make the experience of learning a language fun for everyone. We have programs for a wide range of ages and levels of language learners, and all LinguaZone classes run with 3 - 10 students per class to ensure individualized attention and the best learning environment possible for our students.</p>
	<br class="clearFloat" />
</div>

<h2>Engaging, activity-based curricula</h2>
<div>
	<%= image_tag "about/index/older.jpg", :class => "float_left example" %>
	<p>We specialize in hands-on, activity-based programs in all that we do. Our curricula create great summertime memories and teach lasting lessons by giving context to the learning that takes place in our classes. Campers engage in these activities using the languages they study, creating opportunities to communicate in authentic situations. The direction of the activities comes from the interests and makeup of the students in each class and are never set in stone ahead of time.</p>
	<br class="clearFloat">
</div>

<h2>Travel abroad opportunities</h2>
<p>Campers and their families have the opportunity to join their teacher on a trip abroad to put their language skills to use among native speakers. Trips are professionally designed for students and their families in conjunction with Casterbridge Tours. We take care of everything from airfare to the daily itinerary to local travel and lodging accomodations. Trips average 8 - 10 days  after the conclusion of camp in August.</p>