<div id="about_nav">
	<h3>About LZ Academy</h3>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Philosophy", about_philosophy_path %></li>
		<li><%= link_to "History", about_history_path %></li>
		<li><%= link_to "Faculty", about_faculty_path %></li>
		<li><%= link_to "Gallery", about_gallery_path %></li>
		<li><%= link_to "Testimonials", about_testimonials_path %></li>
	</ul>
	<h3>Summer Camp</h3>
	<ul>
		<li><%= link_to "Locations", camp_locations_path %></li>
		<li><%= link_to "Schedule and fees", camp_schedule_path %></li>
		<li><%= link_to "A typical day at Camp", camp_typical_day_path %></li>
		<li><%= link_to "Discounts", camp_discounts_path %></li>
		<li><%= link_to "Application", camp_register_path, :class => "register" %></li>
	</ul>
	<h3>Before &amp; After School</h3>
	<ul>
		<li><%= link_to "Locations", school_locations_path %></li>
		<li><%= link_to "Schedule and fees", school_schedule_path %></li>
		<li><%= link_to "Register now", school_register_path, :class => "register" %></li>
	</ul>
</div>