<div id="about_nav">
	<h3>About LZ Academy</h3>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Philosophy", about_philosophy_path %></li>
		<li><%= link_to "History", about_history_path %></li>
		<li><%= link_to "Faculty", about_faculty_path %></li>
		<li><%= link_to "Gallery", about_gallery_path %></li>
		<li><%= link_to "Testimonials", about_testimonials_path %></li>
	</ul>
	<h3>Summer Camp</h3>
	<ul>
		<li><%= link_to "Locations" %></li>
		<li><%= link_to "Schedule and rates" %></li>
		<li><%= link_to "Languages available" %></li>
		<li><%= link_to "Apply now", {}, :class => "register" %></li>
	</ul>
	<h3>Before &amp; After School</h3>
	<ul>
		<li><%= link_to "Locations" %></li>
		<li><%= link_to "Schedule and rates" %></li>
		<li><%= link_to "Languages available" %></li>
		<li><%= link_to "Register now", {}, :class => "register" %></li>
	</ul>
</div>