<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= yield(:title) or 'LinguaZone Academy' %></title>
	<%= stylesheet_link_tag 'layout', 'formtastic', 'formtastic_changes' %>
	<%= stylesheet_link_tag 'redmond/jquery-ui-1.8.7.custom.css' %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js" %>
	<%= javascript_include_tag "/javascripts/application.js" %>
	<%= javascript_include_tag "/javascripts/rails.js" %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; text-align: center;}
	</style>
	<script type="text/javascript"><%= yield(:page_script) %></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-90617-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="header">
		<%= link_to root_path do %>
			<div id="header_home_link"></div>
		<% end %>
		<div id="header_frog"></div>
		<br class="clearFloat" />
		<div id="nav">
			<% if current_user %>
				<% if current_user.role?(:teacher) %>
					<% if current_user.role?(:admin) %>
						<%= render :partial => "layouts/admin_nav" %>
					<% else %>
						<%= render :partial => "layouts/teachers_nav" %>
					<% end %>
				<% elsif current_user.role?(:parent) %>
					<%= render :partial => "layouts/parents_nav" %>
				<% end %>
			<% else %>
				<%= render :partial => "layouts/standard_nav" %>
			<% end %>
		</div>
	</div>
	
	<% if @show_banner %>
		<div id="announcement_banner">
			<p><span>SAVE THE DATE</span><br />Announcing dates of LinguaZone Language Camp 2013 at Friends Central School</p>
		</div>
	<% end %>
	
 	<div id="body">
		<div id="body_header"></div>
		<div class="wrapper">
			<% unless flash[:notice].nil? %>
				<p class="flash_notice"><%= flash[:notice]%></p>
			<% end %>
			<% unless flash[:alert].nil? %>
				<p class="flash_alert"><%= flash[:alert] %></p>
			<% end %>
			<% unless flash[:success].nil? %>
				<p class="flash_success"><%= flash[:success]%></p>
			<% end %>
			<%= yield %>
			<br class="clearFloat" />
			<%= yield(:jstemplates) %>
		</div>
		<div id="body_footer"></div>
	</div>
	<div id="footer">
		<table>
			<tr>
				<td class="form">
					<div id="mc_embed_signup">
						<form action="http://LinguaZoneCamps.us1.list-manage.com/subscribe/post?u=d6a024dc4f0564c07a5b52708&amp;id=3561c4e383" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
							<label for="mce-EMAIL">Subscribe to our mailing list</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</form>
					</div>
				</td>
				<td>
					<p>Receive updates about discounts, course offerings and more! You can opt out at any time and your email address will never be shared with anyone.</p>
				</td>
			</tr>
		</table>
		<div id="animat_links">
			<div id="prima_lingua">
				<%= link_to image_tag("footer/prima_lingua_frog.gif"), "http://www.primalingua.net" %>
				<h4>PRIMA LINGUA</h4>
				<p class="tag_line">The preparatory course<br /> for the study of foreign languages</p>
			</div>
			<div id="lz_camps">
				<%= link_to image_tag("footer/camp_frog.gif"), "http://www.linguazonecamps.com" %>
				<h4>LINGUAZONE.COM</h4>
				<p class="tag_line">Customized teaching tools<br /> for language teachers around the world</p>
			</div>
			<br class="clearFloat" />
		</div>
		<div id="get_to_know_us">
			<h4>GET TO KNOW US</h4>
			<p>LinguaZone Language Academy offers engaging, activity-based programs to build proficiency and self-confidence in world languages and communication. Based just outside of Philadelphia, PA.<br />Contact us directly at 215.948.2153 or <%= link_to "info@lzacademy.com", "mailto:info@lzacademy.com" %>.</p>
		</div>
		<br class="clearFloat" />
		<p class="copyright">&copy; Animat, LLC 2006 - <%= Time.now.year %></p>
	</div>
</body>
</html>